.btn {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 45px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: relative;
  border: none;
  box-shadow: 3px 2px 3px 0px rgb(19, 19, 19);

  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.253);
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.253);
    outline: none;
  }

  &-pri {
    background: $primary;
    color: $white;
    font-weight: bold;

    &::after {
      background: #33df67;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  &:hover::after {
    transform: scaleX(1.3) scaleY(1.6);
    opacity: 0;
  }
}
