@import './mixins';
@media (max-width: 765px) {
  .side-nav {
    display: none;
  }

  //* Projects grids

  .layouts {
    overflow: hidden !important;
  }

  .btn {
    padding: 10px 30px;
  }

  //* Landing page content
  .content {
    margin: auto;
    em {
      font-size: 1rem;
    }

    p {
      font-size: 1.7rem !important;
      span {
        font-weight: 300;
      }
    }
  }

  //* available
  .home {
    .available {
      svg {
        position: absolute;
        top: -5%;
        height: 200px;
        width: 100px;
        left: 60%;
        z-index: 1;
      }
    }
  }

  .footer {
    flex-wrap: wrap-reverse;

    &-name {
      color: $white;
      font-size: 1.5rem;
      letter-spacing: 1.6;
      margin: 0 0.6rem 0 -3rem;
    }

    &-socials {
      margin-left: 0.9rem;
      a {
        font-size: 0.8rem;
      }
    }
  }
}

@media (min-width: 768px) {
  //* hamburger
  .side-menu {
    display: none;
    z-index: 0;
  }
  //* ABout page
  .profile {
    display: flex;

    div {
      width: 300px;
      margin: 0 0.6rem;
    }
  }

  //* Project
  .project {
    width: 850px;
    &-content {
    margin:  .3rem;
    }
    .card-image {
      z-index: 0;
      border-radius: 0.7rem;
    }
    .grid {
      display: grid;
      grid-template-columns: .2fr .2fr;
    }
  }

  .project-details {
     width: 600px;
     img {
       height: 300px !important;
       width: 600px !important;
     }
    &-body {
      background:$menu;
      border-bottom:  5px $pri-color solid;
      width: 600px;
    }
  }
}
