@mixin pictureConfig($height) {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: $height;
}

@mixin height_width($height, $width) {
  height: $height;
  width: $width;
}

@mixin center_with_flex() {
  display: flex;
  justify-content: center;
  align-items: center;
}
