* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 85%;
}

body {
  background: url("../images/backgroundimagebg-image.png");
  line-height: 1.7;
  font-family: Arial, Helvetica, sans-serif;
  background-size: contain;
  //   @include pictureConfig(70vh);
}
