// * themes for the website
$pri-color: #58c376;
$primary: linear-gradient(to left, #2586ea 10%, #58c376 70%);
$secondary: #58c376;
$yellow: #e3c214;
$blue: #2586ea;
$menu: #17426d;
$white: #fff;
$text: #222;
