@import "./variables";
@import "./buttons";
@import "./mixins";
@import "./buttons";
@import "./mediaqueries";
@import "./utils";

//* Home Page

.logo {
  margin: 0rem 0 0 1.4rem;
  padding: -2rem 0 0 0;
  img {
    @include height_width(100px, 100px);
  }
}

//* Side Nav

.side-nav {
  height: 100%;
  background: $menu;
  position: fixed;
  right: 0;
  top: 0;
  width: 7%;
}

//* Hamburger Menu

.menu {
  height: 50px;
  width: 30px;
  position: fixed;
  top: 0;
  right: 0;
  margin: 2rem 1rem 0 1rem;
  cursor: pointer;
  z-index: 3;
  transform: rotateY(180deg);
  span {
    display: block;
    position: relative;
    margin: 0 0 0.3rem 0;
    height: 5px;
    width: 100%;
    background-color: $white;
    border-radius: 3px;
    z-index: 2;
  }
  span:nth-child(2) {
    width: 63%;
  }
  span:nth-child(3) {
    width: 43%;
  }

  .close {
    span {
      height: 3.5px;
      transition: 0.4s ease-out;
      &:nth-child(1) {
        transform: rotate(48deg);
        width: 100%;
        top: 6px;
      }
      &:nth-child(3) {
        transform: rotate(-48deg);
        bottom: 3px;
        width: 100%;
      }
      &:nth-child(2) {
        display: none;
      }
    }
  }
}

.hamb {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 2;

  .wrapper {
    background: $menu;
    height: 110vh;
    width: 100%;

    ul {
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      list-style-type: none;
      li {
        padding: 1.4rem 0;

        &:hover {
          border-bottom: 2px solid $pri-color;
          transform: scale(1.3);
          a {
            color: $pri-color;
          }

          // transform: skewX(15deg);
        }

        a {
          text-decoration: none;
          color: $white;
        }
      }
    }
  }

  .close {
    position: absolute;
    display: none;
  }
}

.side-bar {
  margin: 3rem auto;
  @include center_with_flex();

  ul {
    li {
      list-style-type: none;
      display: block;
      cursor: pointer;
      &:hover {
        transform: scale(1.2);
        //    box-shadow: 2px 2px 4px $pri-color;
        border-bottom: 3px solid $pri-color;
        border-radius: 2px;
      }

      a {
        text-decoration: none;
        color: $pri-color;
        font-size: 1.3rem;
        display: block;
        padding: 0rem 0 0.2rem 0;
        margin-bottom: 0rem;
      }
    }
  }
}

//* Landing page content
.content {
  margin: 2rem 0 0 2.5em;

  h2 {
    color: $pri-color;
  }

  .line {
    color: $pri-color;
    font-size: 32px;
  }
  p {
    font-size: 2.4rem;
    color: $white;
    margin: 0.7rem 0;
    padding: 0.9rem 0;
    span {
      color: $pri-color;
      margin: 0 0.6rem 0 0.4rem;
      font-weight: 700;
    }
  }
}

.available {
  svg {
    position: absolute;
    top: -5%;
    height: 400px;
    width: 300px;
    left: 60%;
    z-index: 1;
  }
}

#sling {
  position: absolute;
  animation: 2.5s rope infinite ease;
  transform-origin: center;
  transform-box: fill-box;
  transition: 1s ease all;
}

@keyframes rope {
  from {
    transform: rotateY(360deg);
    transition: 3s ease;
  }
  to {
    transform: rotateY(0deg);
    transition: 3s ease;
  }
}

//* Contact Page

.contact {
  margin: -3rem auto;
  h2 {
    color: $pri-color;
    text-align: center;
    font-size: 25px;
    span {
      font-size: 30px;
    }
  }
  &-page {
    background-color: $menu;
    height: 500px;
    width: 400px;
    border-radius: 0.9rem;

    margin: auto;

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 1rem 0 0 0;
    }

    .form-group {
      margin: 1.5rem 0 0 0;
      label {
        display: block;
        color: $pri-color;
        font-size: 1.3rem;
        margin: 0.2rem 0;
      }

      input {
        padding: 6px 27px;
        border-radius: 0.5rem;
        border: none;
        width: 100%;
        color: $white;
        background: rgba(rgb(247, 247, 247), 0.5);

        &:focus {
          border: $pri-color;
          outline: none;
        }
      }
      textarea {
        margin: 0 0 1.3rem 0;
        color: $white;
        background: rgba(rgb(247, 247, 247), 0.5);
      }
    }
  }
}
//* ABout Page

.about {
  margin: 0rem 1.5rem -6rem 1.5rem;
  &-page {
    .skills {
      text-align: center;
    }
    h2 {
      color: $pri-color;
      font-size: 26px;
      text-align: center;
      span {
        font-size: 32px;
      }
    }
    .profile {
      // display: flex;
      align-items: center;
      // flex-direction: column;
      justify-content: center;

      div:nth-child(2) {
        // background-color: $menu;
        border: none;

        h4 {
          border-bottom: 2px $blue solid;
          color: $pri-color;
          padding: 7px 3px;
          font-size: 20px;
        }
        p {
          padding: 7px;
          color: $white;
        }
      }

      div:nth-child(1) {
        text-align: center;
      }
    }
  }
}
//* footer

.footer {
  position: relative;
  display: flex;
  justify-content: space-around;
  margin: 14rem 0 0 0;
  z-index: 2;

  &-name {
    color: $white;
    font-size: 1.3rem;
    letter-spacing: 1.6;
    margin: 1.5rem 3rem 0 3rem;
  }

  &-socials {
    a {
      margin: 0 1rem;
    }
  }
}
