@import "./variables";
@import "./buttons";
@import "./mixins";
@import "./buttons";
@import "./utils";
@import "./mediaqueries";

//* Home Page

.logo {
  margin: 0rem 0 0 1.4rem;
  padding: -2rem 0 0 0;
  img {
    @include height_width(100px, 100px);
  }
}

//* Side Nav

.side-nav {
  height: 100%;
  background: $menu;
  position: fixed;
  right: 0;
  top: 0;
  width: 7%;
}

.side-bar {
  margin: 3rem auto;
  @include center_with_flex();

  ul {
    li {
      list-style-type: none;
      display: block;
      cursor: pointer;
      &:hover {
        transform: scale(1.2);
        //    box-shadow: 2px 2px 4px $pri-color;
        border-bottom: 3px solid $pri-color;
        border-radius: 2px;
      }

      a {
        text-decoration: none;
        color: $pri-color;
        font-size: 1.3rem;
        display: block;
        padding: 0rem 0 0.2rem 0;
        margin-bottom: 0rem;
      }
    }
  }
}

//* Landing page content
.content {
  margin: 2rem 0 0 2.5em;
  em {
    font-size: 1.3rem;
    color: $blue;
  }
  .line {
    color: $pri-color;
  }
  p {
    font-size: 2.4rem;
    color: $white;
    margin: 0.7rem 0;
    padding: 0.9rem 0;
    span {
      color: $pri-color;
      margin: 0 0.6rem 0 0.4rem;
      font-weight: 700;
    }
  }
}


  .available {
    svg {
      position: absolute;
      top: -5%;
      height: 400px;
      width: 300px;
      left: 60%;
      z-index:2;
    }
  }

#board {
  position: absolute;
  animation: 2s rope infinite  ease;
  transform-origin: center;
  transform-box: fill-box;
  transition: 1s ease all;
}

@keyframes rope {
  from {
    transform: rotateY(360deg);
      transition: 3s ease;
  }
  to {
    transform: rotateY(0deg);
      transition: 3s ease ;
  }
}

//* footer

.footer {
  position: relative;
  display: flex;
  justify-content: space-around;
  margin: 14rem 0 0 0;

  &-name {
    color: $white;
    font-size: 1.3rem;
    letter-spacing: 1.6;
    margin: 1.5rem 3rem 0 3rem;
  }

  &-socials {
    a {
      margin: 0 1rem;
    }
  }
}
