@import "./variables";
@import "./mixins";
@import "./mediaqueries";
@import "./utils";
@import "./buttons";

//*  loading

.loader {
z-index:0;
  height: 100%;
  width: 100%;
  text-align: center;
  margin: auto;
}

//* Home Page

.logo {
  margin: 0rem 0 0 1.4rem;
  img {
    @include height_width(100px, 100px);
  }
}

//* Side Nav

.side-nav {
  height: 100%;
  background: $menu;
  position: fixed;
  right: 0;
  top: 0;
  width: 7%;
}

//* Hamburger Menu

.menu {
  height: 50px;
  width: 30px;
  position: fixed;
  top: 0;
  right: 0;
  margin: 2rem 1rem 0 1rem;
  cursor: pointer;
  z-index: 3;
  transform: rotateY(180deg);
  span {
    display: block;
    position: relative;
    margin: 0 0 0.3rem 0;
    height: 5px;
    width: 100%;
    background-color: $white;
    border-radius: 3px;
    z-index: 2;
  }
  span:nth-child(2) {
    width: 63%;
  }
  span:nth-child(3) {
    width: 43%;
  }

  .close {
    span {
      height: 3.5px;
      transition: 0.4s ease-out;
      &:nth-child(1) {
        transform: rotate(48deg);
        width: 100%;
        top: 6px;
      }
      &:nth-child(3) {
        transform: rotate(-48deg);
        bottom: 3px;
        width: 100%;
      }
      &:nth-child(2) {
        display: none;
      }
    }
  }
}

.hamb {
  position: fixed;
  top: 20%;
  right: 0;
  height: 40%;
  width: 30%;

  .wrapper {
    background: $menu;
    height: 100%;
    width: 100%;
    z-index: 0;

    ul {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      list-style-type: none;
      //  border-bottom: 1px solid $blue;
      li {
        padding: 1.4rem 0;
        text-decoration: none;
        color: $white;
        display: flex;

        &:hover {
          border-bottom: 2px solid $pri-color;

          color: $pri-color;
        }

        a {
          text-decoration: none;
          color: $white;
        }
      }
    }
  }

  .close {
    position: absolute;
    display: none;

    .side-menu {
      visibility: hidden;
    }
  }
}

.active {
  color: $pri-color;
}

.side-bar {
  margin: 3rem auto;
  @include center_with_flex();

  ul {
    li {
      list-style-type: none;
      cursor: pointer;
      &:hover {
        transform: scale(1.2);
        border-radius: 2px;
        // background-color: $pri-color;
      }

      a {
        text-decoration: none;
        color: $pri-color;
        font-size: 1.3rem;
        display: block;
        padding: 0rem 0 0.2rem 0;
        margin-bottom: 0rem;
      }
    }
  }
}

//* Landing page content
.content {
  margin: 2rem 0 0 2.5em;
  z-index: -1;

  h2 {
    color: $pri-color;
  }

  .line {
    color: $pri-color;
    font-size: 32px;
  }
  p {
    font-size: 2.4rem;
    color: $white;
    margin: 0.7rem 0;
    padding: 0.9rem 0;
    span {
      color: $pri-color;
      margin: 0 0.6rem 0 0.4rem;
      font-weight: 700;
    }
    small {
      font-size: 1.6rem;
      line-height: 1.6;
    }
  }
}

.available {
  svg {
    position: absolute;
    top: -5%;
    height: 400px;
    width: 300px;
    left: 60%;
    z-index: 1;
  }
}

#sling {
  position: absolute;
  animation: 2.5s rope infinite ease;
  transform-origin: center;
  transform-box: fill-box;
  transition: 1s ease all;
}

@keyframes rope {
  from {
    transform: rotateY(360deg);
    transition: 3s ease;
  }
  to {
    transform: rotateY(0deg);
    transition: 3s ease;
  }
}

//* Contact Page

.contact {
  margin: -2rem auto 0 auto;
  h2 {
    color: $pri-color;
    text-align: center;
    font-size: 2rem;

    span {
      font-size: 30px;
    }
  }
  &-page {
    background-color: $menu;
    height: 480px;
    width: 350px;
    border-radius: 0.9rem;
    margin: 0 auto;

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 1rem 0 0 0;
    }

    .form-group {
      margin: 1.5rem 0 0 0;
      label {
        display: block;

        color: $pri-color;
        font-size: 1.3rem;
        margin: 0.2rem 0;
      }

      ::placeholder {
        color: $white;
      }

      input {
        padding: 6px 27px;
        border-radius: 0.5rem;
        border: none;
        width: 100%;
        color: $white;
        background: rgba(rgba(29, 27, 27, 0.959), 0.5);

        &:focus {
          border: $pri-color;
          outline: none;
        }
      }
      textarea {
        margin: 0 0 1.3rem 0;
        color: $white;
        background: rgba(rgba(29, 27, 27, 0.959), 0.5);
      }
    }
  }
}
//* ABout Page

.about {
  margin: 0rem 1.5rem -6rem 1.5rem;
  &-page {
    .box {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 1rem 0;
    }
    .skills {
      text-align: center;
      margin-top: 0.6rem;
      display: flex;
      align-items: center;
      & > div {
        margin-right: 0.6rem;
      }
    }

    h2 {
      color: $pri-color;
      font-size: 26px;
      text-align: center;
      margin: -3rem 0 1rem 0;
      span {
        font-size: 32px;
      }
    }
    .profile {
      align-items: center;
      justify-content: center;

      img {
        border-radius: 50%;
      }

      div:nth-child(2) {
        border: none;

        h4 {
          border-bottom: 2px $blue solid;
          color: $pri-color;
          padding: 7px 3px;
          font-size: 20px;
        }
        p {
          padding: 7px;
          color: $white;
          font-size: 1.2rem;
        }
      }

      div:nth-child(1) {
        text-align: center;
      }
    }
  }
}

//* Project
.project {
  h2 {
    color: $pri-color;
    font-size: 2rem;
    text-align: center;
  }

  &-content {
    background-color: $menu;
    border-radius: 1rem;
    padding: 6px 0;
    width: 350px;
    margin: 1.2rem auto;

    .card-image {
      width: 350px;
      height: 300px;
      border-radius: 1rem;

      img {
        @include pictureConfig(60%);
      }
    }
    .card {
      &-body {
        margin: -6.4rem 0 0 0;
        padding: 0 0.5rem;
        h3 {
          color: $pri-color;
        }
        p {
          color: $white;
        }
        &-link {
          display: flex;
          justify-content: space-around;
          margin: 0.4rem 0 0 0;
          cursor: pointer;

          a {
            color: $pri-color;
            text-decoration: none;
          }
        }
      }
    }
  }
}
//* footer

.footer {
  position: relative;
  display: flex;
  justify-content: space-around;
  margin: 14rem 0 0 0;
  z-index: 2;

  &-name {
    color: $white;
    font-size: 1.3rem;
    letter-spacing: 1.6;
    margin: 1.5rem 3rem 0 3rem;
  }

  &-socials {
    a {
      margin: 0 1rem;
    }
  }
}

//* Animations.....
.page-enter {
  opacity: 0;
}

.page-enter-active {
  opacity: 1;
  transition: opacity 400ms;
  transition-delay: 600ms;
}
.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
  transition: opacity 400ms;
}
