
.fair-name-bar-div{
    box-shadow: 1px 3px 5px #e0e0e0;
}

.fair-name-bar{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 19.6%;
    box-shadow: 1px 3px 5px #e0e0e0;
    padding: 3px 10px;
}

.co-op{
    margin-left: 10px;
}
#co-Lag{
    font-weight: bold;
}

.font-bar{
    margin-right: 10px;
    cursor: pointer;
    font-size: 20px;
}
.side-bar{
    width: 19.6%;
    box-shadow: 3px 5px 10px #e0e0e0;
    padding-bottom: 50px;
}
#manage-fair-drops{
    border-right: forestgreen 4px solid;
}
.dashboard-body{
    display: flex;
    justify-content: space-between;
    box-shadow: 3px 5px 10px #e0e0e0;
    margin-top: 4px;
}

.dashbord-body-main{
    width: 80%;
    background-color: #F8F8FF;
    box-shadow: 3px 5px 10px #e0e0e0;
}

.manage-body{
    background-color: white;
    margin: 20px;
    box-shadow: 3px 4px 15px #e0e0e0;
    padding-bottom: 50px;
}

.manage-fair{
    display: flex;
    justify-content: space-between;
}
.manage{
    margin-top: 20px;
    margin-left: 20px;
    /* color: #0000CD; */
    color: #4169E1;
    font-weight: bold;
}
.manage-span{
    color: white;
    background-color: forestgreen;
    padding: 3px 7px;
    border-radius: 5px;
    margin-right: 20px;
    margin-top: 20px;
    cursor: pointer;
}

.table-header-div{
    display: flex;
    align-items: baseline;
}
.table-header{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 95%;
}

.span-columns{
    width: 180px;
    text-align: center;
    /* color: #4169E1; */
}

#manage-span-content{
   color: #4169E1; 
}

#trash{
    width: 5%;
    text-align: center;
    color: red;
    cursor: pointer;
}

.span-fair{
    width: 100px;
}
.span-edit{
    margin-right: 20px;
    width: 50px;
    text-align: center;
}

.side-bar-par{
    cursor: pointer;
    color: royalblue;
    margin: 8px 20px;
}

.side-bar-header{
    margin: 20px 20px 10px 20px;
    color: grey;
}

/* ================== CSS STYLES FOR CREATE SPEAKER HTML =========================== */

.create-body{
    background-color: #F8F8FF;
}

.create-side-body{
    margin: 50px 1px 50px 50px;
     width: 19.8%;
     background-color: white;
     box-shadow: 3px 4px 15px #e0e0e0;
     padding-bottom: 50px;
}
.create-inner-body{
    display: flex;
    justify-content: space-between;
}
.create-sidenav{
    margin: 8px 20px;
}
.create-titles{
    font-size: 12px;
    color: gray;
    margin-bottom: 3px;
}

.create-sidenav-div{
    margin-top: -5px;
    margin-bottom: 10px;
}

.create-span{
    color: #4169E1;
}

.create-sidenav-par{
    margin-top: 50px;
}

#create-spreaker{
    border-right: forestgreen 4px solid;
    padding: 6px 0 6px 20px;
    color: royalblue;
    margin-bottom: 5px;
    cursor: pointer;
}

#create-body-content{
    width: 80%;
    background-color: white;
    margin: 50px 50px 50px 1px;
    box-shadow: 3px 4px 15px #e0e0e0;
}

.speaker-body{
    margin: 20px;
}
.speaker-header-div{
    display: flex;
    align-items: baseline;
}
.speaker{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 50px;
}
.speaker-cat{
    font-size: 18px;
    font-weight: 600;
    color: #4169E1;
    margin-left: 40px;
}

.speaker-span{
    color: white;
    background-color: forestgreen;
    padding: 3px 7px;
    border-radius: 5px;
    margin-right: 40px;
    margin-top: 20px;
    cursor: pointer;
}
.create-inner-div{
    width: 60%;
    margin-top: 10px;
    margin-left: 10px;
}
.span-create{
    width: 40%;
}
.span-create-columns{
    text-align: center;
}
.span-create-edit{
    margin-right: 20px;
    width: 50px;
    text-align: center;
    cursor: pointer;
}
#trash-speaker{
    font-size: 14px;
    color: red;
    width: 30px;
    cursor: pointer;
}

#speaker-span-content{
    color: #4169E1; 
}
span{
    margin-top: -3px;
    margin-bottom: -3px;
}
.span-create-2{
    width: 15%;
}
.span-create-email{
    width: 20%;
}
.span-create-pass{
    width: 15%;
}
.span-create-columns{
    width: 30px;
}

.span-create-role {
    width: 15%;
}

.create-inner-div-2{
    margin-top: 10px;
    margin-left: 10px;
}

/*=============================== CSS FOR VENDOR"S SIGN UP =======================*/

.span-create-vend{
    width: 20%;
}

.span-create-edit-2{
    width: 20%;
    cursor: pointer;
}
.span-create-columns-2{
    width: 30px;
}
#trash-vendor{
    font-size: 14px;
    color: red;
    width: 40px;
    cursor: pointer;
}

.speaker-header-div-vend{
    display: flex;
    align-items: baseline;
    width: 70%;
}

.link{
    cursor: pointer;
}
.vend-form{
    margin-left: 50px;
    padding-bottom: 50px;
}

#vend-form-label{
    margin-top: 20px;
}

#vend-input{
    width: 60%;
    font-size: 14px;
    height: 26px;
    border-radius: 5px;
    border: 1px solid gray;
}

#vend-select{
    width: 55%;
    border-radius: 5px;
    border: 1px solid gray;
}
.vend-form-body{
    width: 70%;
}

.select-addField{
    display: flex;
    justify-content: space-between;
    width: 65%;
    align-items: center;
}

#vend-form-par{
    color: forestgreen;
    font-size: 14px;
    cursor: pointer;
}
#vend-plus{
    font-weight: 800;
    font-size: 15px;
}
p{
    margin-top: 2px;
    margin-bottom: 2px;
}
.vend-name{
    margin-top: 10px;
}
/*=================== CSS FOR BOOTH SETTING ==================*/

.span-booth{
    width: 17%;
}

.span-both-fee{
    width: 15%;
}

.span-booth-feat{
    width: 20%;
    cursor: pointer;
}

.span-columns-temp{
    width: 23%;
}

.span-columns-stats{
    width: 10%;
}

.span-booth-edit{
    width: 10%;
    text-align: center;
    cursor: pointer;
}

/*=============== CSS FOR ADVERT MANAGEMENT ===============*/

#advert-form{
    margin-top: 5%;
    margin-left: 30px;
}

.advert-label{
    width: 20%;
    color: #4169E1;
}

#advert-input{
    border: 1px solid gray;
    border-radius: 7px;
    width: 200px;
    font-size: 14px;
    height: 26px;
}
.advert-price-range-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 700px;
    width: 98%;
    margin-bottom: 30px;
    margin-top: 20px;
}

.span-advert-cat{
    padding: 5px 7px;
    background-color: forestgreen;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#advert-range-input{
    border: 1px solid gray;
    border-radius: 7px;
    width: 250px;
    font-size: 14px;
    height: 26px;
}
#advert-price-input{
    border: 1px solid gray;
    border-radius: 7px;
    width: 150px;
    font-size: 14px;
    height: 26px;
}
#advert-price-range-label{
    color:black;
    /* color: #4169E1; */
}

/*=============== CSS FOR EVENT MANAGEMENT ===============*/

.span-event{
    width: 17%;
}
.span-event-dec{
    width: 25%;
}
.span-event-fee{
    width: 6%;
}
.span-event-type{
    width: 10%;
}
.span-event-url{
    width: 30%;
}
.span-event-edit{
    width: 7%;
    cursor: pointer;
}

#title-content-div{
    margin-top: -2px;
}